
header {
    background-color: rgb(68, 0, 255);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.btn {
    background-color: rgb(68, 0, 255);
    color: white;
    width: 100%;
}

button,
input {
    outline: none;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }

  .forecast-box {
      margin: 10px;
  }